<a href="https://colab.research.google.com/github/AshwinkumarG/Assignment/blob/master/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)What is dictionary in python?Explain with an example.


A)Dictionary is a mutable data type in python.a python dictionary is a collection of key and value pairs seperated by a colour.

In [2]:
mydict={'stuName':'Ashwin','stuAge':'19','stuCity':'bangalore'}
print("student age is:",mydict['stuAge'])
print("student city is:",mydict['stuCity'])

student age is: 19
student city is: bangalore

2)Write a python program to sum all the items in a list.

In [3]:
def sum_list(items):
  sum_numbers=0
  for x in items:
    sum_numbers+=x
  return sum_numbers
print(sum_list([16,21,-34]))

3

3)Write a python program to to create a list of empty dictionaries.

In [12]:
a =6
l =[() for_in range(a)]:
print(l)

SyntaxError: ignored

4)Write a python program to access dictionary keys element by index.

In [15]:
num={'physics':'87','math':'84','java':'89'}
print(list(num[1]))

KeyError: ignored

5)Write a python program to iterate over dictionaries using for loops.

In [16]:
d={'red':4,'green':5,'blue':2}
for color_key value in d.items():
  print(color_key,'corresponds to',d[color_key])

SyntaxError: ignored

6)Write a python program to sum all the items in a dictionary.

In [18]:
my_dict={'num1':10,'num2':20,'num3':30}
print(sum(my_dict.values()))

60

7)Write a python script to concatenate following dictionaries to create a new one.

In [ ]:
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={}
for d in (dic1,dic2,dic3):dic4.update(d)
print(dic4)

8)Write a python program to create a tuple.

In [19]:
x=()
print(x)

()

9)Write a python to create a tuple with different datatypes.

In [22]:
tuplex=("tuple",True,2.1,9)
print(tuplex)

('tuple', True, 2.1, 9)

10)Write a python program to convert a tuple to a string.

In [24]:
tup=('A','s','h','w','i','n')
str=''.join(tup)
print(str)

Ashwin

11)Write a python program to slice a tuple.

In [25]:
tuplex=('p','y','t','h','o','n')
_slice=tuplex[1:]
print(_slice)

('y', 't', 'h', 'o', 'n')

12)Write a python program to find length of a tuple.

In [26]:
tuples=tuple("python")
print(tuplex)
print(len(tuplex))

('p', 'y', 't', 'h', 'o', 'n')
6

13)Write a python program to convert a tuple to a dictionary.

In [27]:
tuplex=((1,"A"),(3,"h"))
print(dict((y,x)for x,y in tuplex))

{'A': 1, 'h': 3}

14)Write a python program to reverse a tuple.

In [29]:
x=(5,15,25,35)
y=reversed(x)
print(tuple(y))

(35, 25, 15, 5)

15)Write a python program to convert a list of tuples in to a dictionary.

In [30]:
l=[("A",1),("s",2),("h",3),("w",4),("i",5)("n",6)]
d={}
for a,b in l:
   d.setdefault(a,[]).append(b)
print(d)

TypeError: ignored

16)Write a python program to convert a list to a tuple.

In [31]:
listx=[21,12,31,7,16]
tuplex=tuple(listx)
print(tuplex)

(21, 12, 31, 7, 16)